* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 50px;
    position: fixed;
    z-index: 20;
    color: white;
    margin-top: 10px;
}

header {
    position: fixed;
    background-color: black;
    width: 100%;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 10;
}

.navbar {
    margin: 10px 50px;
}

h1 {
    text-align: center;
}

h2, h3, h4, h5, h6, p {
    margin: 20px 50px;
}

.navbar ul li {
    display: inline;
    padding: 2px 15px;
}

.navbar ul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main ul li {
    list-style: none;
    margin: 10px 50px;
}

.navbar ul li a {
    text-decoration: none;
    color: gray;
}

.navbar ul li a:hover {
    text-decoration: none;
    color: white;
}

.logo a {
    text-decoration: none;
    color: white;
}

main {
    padding-top: 150px;
}

.me img {
    width: 500px;
    height: auto;
    position: static;
    margin: 0 auto;
    padding: 0;
    border: 2px solid black;
}

.venmo a img {
    width: 200px;
    height: auto;
    position: static;
    margin: 0 auto;
    padding: 0;
}

.mission,
.core-philosophy,
.packages,
.maintenance-plans,
.add-ons,
.programs,
.policies,
.services,
.portfolio,
.about-contact,
.pricing-payment,
.tagline {
    background-color: white;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px 0;
}

.me {
    display: flex;
    width: 100%;
}

.venmo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.add-ons-grid {
    display: grid;
    grid-template-columns: 200px auto;
    grid-auto-rows: 1fr;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
}

.add-ons-box-3,
.prices-box-3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    row-gap: 20px;
    margin-right: 20px;
}

.add-ons-box-4,
.prices-box-4{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    row-gap: 20px;
    margin-right: 20px;
}

.add-ons-box-5,
.prices-box-5{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    row-gap: 20px;
    margin-right: 20px;
}

.add-ons-box-6,
.prices-box-6{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    row-gap: 20px;
    margin-right: 20px;
}

.add-ons-box-7,
.prices-box-7{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    align-items: center;
    row-gap: 20px;
    margin-right: 20px;
}

.add-ons-box-8,
.prices-box-8{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    align-items: center;
    row-gap: 20px;
    margin-right: 20px;
}

footer {
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .logo p {
        display: none;
    }
    main {
        padding-top: 200px;
    }
    .me img {
        width: 50%;
    }
}