* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 50px;
    position: fixed;
    z-index: 20;
    color: white;
    margin-top: 10px;
}

header {
    position: fixed;
    background-color: black;
    width: 100%;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 10;
}

.navbar {
    margin: 10px 50px;
}

h1 {
    text-align: center;
}

h2, h3, h4, h5, h6, p {
    margin: 20px 50px;
}

.navbar ul li {
    display: inline;
    padding: 0 15px;
}

.navbar ul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main ul li {
    list-style: none;
    margin: 10px 50px;
}

.navbar ul li a {
    text-decoration: none;
    color: gray;
}

.navbar ul li a:hover {
    text-decoration: none;
    color: white;
}

main {
    padding-top: 150px;
}

.mission,
.core-philosophy,
.packages,
.maintenance-plans,
.add-ons,
.programs,
.policies {
    background-color: white;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px 0;
}

.add-ons-grid {
    display: grid;
    grid-template-columns: 200px auto;
    grid-auto-rows: 1fr;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
}

.add-ons-box-3,
.prices-box-3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    row-gap: 20px;
    margin-right: 20px;
}

.add-ons-box-4,
.prices-box-4{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    row-gap: 20px;
    margin-right: 20px;
}

.add-ons-box-5,
.prices-box-5{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    row-gap: 20px;
    margin-right: 20px;
}

.add-ons-box-7,
.prices-box-7{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    align-items: center;
    row-gap: 20px;
    margin-right: 20px;
}

footer {
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .logo p {
        display: none;
    }
}